//colors
$color-primary: rgb(60,74,223);
$color-white: rgb(255, 255, 255);
$color-gray: rgb(245, 245, 245);
$btn-color: rgb(47,58,178);
$element-shadow: rgb(200, 199, 199);
$input-shadow: rgb(212, 212, 212);
$color-black-aside: black;
// Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$extra-extra-large: 1400px;
$extra-4k: 2560px;