@use './mixins';
@use './home/aside-left';
@use './home/mainCentralPart';
@use './home/navbar';
@use './home/footer';
* {
   box-sizing: border-box;
   margin: 0;
   font-family: 'Bebas Neue', cursive
}
body,
html{
   padding: 0;
   margin: 0;
   background-color: variables.$color-gray;
   font-size: 16px;
   text-align: center;
   width: 100%;
}