@use './mixins';
@use './home/aside-left';
@use './home/mainCentralPart';
@use './home/navbar';

* {
   box-sizing: border-box;
   margin: 0;
   font-family: 'Bebas Neue', cursive
}
body,
html{
   padding: 0;
   margin: 0;
   background-color: rgb(245,245,245);
   font-size: 16px;
   text-align: center;
   width: 100%;
}