.asideRight {
  text-decoration: none;
  .listings { 
    background-color:#fafafa;
    height: 300px;
    border-radius: 10px;
    border: solid 2px rgba(235, 238, 238, 0.867);
    &__all {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(245, 245, 245);
      h3 {
        text-align: left;
        line-height: 1.5rem;
        font-size: 25px;
      }
      h6{ 
        text-align: right;
        line-height: 1.5rem;
        color: blue;
      }
      

    }
    }
    &__first-post{
        

    }
    &__first-post-subheading{
        border-bottom: 1px solid rgb(245, 245, 245);
     }
  }

