@use '../mixins';
@use '../variables';
main{
    padding-top: 14px;
}
.postView{
    background-color: variables.$color-white;
    &__imgGlobe{
        img{
            width: 100%;
            border-radius: 6px 6px 0px 0px;
        }
    }
    .reactions{
        ul{
            padding-left: 0px;
            li{
                img{
                    margin-right: 8px;
                    height: auto;
                    width: 24px;
                }
            }
        }
    }
    &__userDescription{
       .datepost{
        img{
            width: 45px;
            height: 45px;
        }
       } 
       .info{
        text-align: start;
        height: 10px;
        :nth-child(2){
          font-size: 14px;
        }
        p{
          margin-bottom: 0px;  
        }
       }
    }
    &__mainInfo{
        .postTitle{
            text-align: start;
            font-size: 52px;
            letter-spacing: 12px;
            padding-right: 54px;
        }
        .linksCommunity{
            padding-left: 0px;
            margin-bottom: 3rem;
            li{
                a{
                    text-decoration: none;
                    font-weight: 300;
                    color: black;
                }
            }
        }
        .firstPara{
            margin-bottom: 2rem;
            font-weight: 100;
            font-family:  monospace;
        }
        .imgFishes{
            margin-bottom: 2rem;
            width: 100%;
        }
        .secondTitle{
            
        }
    }

    .litlePostView{
        background-color: variables.$card-background;
        box-shadow: 0px 0px 1px variables.$element-shadow;
    
        &__headerContainer{
            img{
                height: auto;
                width: 25px;
            }
        }
        &__textContainer{
            width: 90%;
        }
        &__ballons{
            width: 80%;
        }
    }
    .nextToRead{
        background-color: variables.$card-background;
        box-shadow: 0px 0px 1px variables.$element-shadow;
        &__user{
            h4{
                font-size: 18px;
            }
            img{
                border-radius: 50%;
                width: 60px;
                height: 60px;
            }
            p{
                font-size: 12px;
                span{
                    font-size: 14px;
                }
            }
        }
     
    }
}
